block declare
doctype html
html
  head
    title= title
    style: include ../public/stylesheets/style.css
  body

    block content
    footer(style="margin-top:150px;")
      a(href="/app/")
        p トップページへ戻る